In [47]:
# Download the dataset from https://www.kaggle.com/rajyellow46/wine-quality

In [218]:
# Import the required packages
import pandas as pd # for handling data in the form of tables
import numpy as np # For handling matrix
from sklearn.model_selection import train_test_split # For spliting the data into train and test
from sklearn.linear_model import LinearRegression # for using the model
import matplotlib.pyplot as plt # for plotting

In [219]:
wine=pd.read_csv("winequalityN.csv")
wine.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [220]:
wine.isna().any()

type                    False
fixed acidity            True
volatile acidity         True
citric acid              True
residual sugar           True
chlorides                True
free sulfur dioxide     False
total sulfur dioxide    False
density                 False
pH                       True
sulphates                True
alcohol                 False
quality                 False
dtype: bool

In [221]:
wine=wine.fillna(method="ffill")

In [222]:
wine.isna().any()

type                    False
fixed acidity           False
volatile acidity        False
citric acid             False
residual sugar          False
chlorides               False
free sulfur dioxide     False
total sulfur dioxide    False
density                 False
pH                      False
sulphates               False
alcohol                 False
quality                 False
dtype: bool

In [223]:
X = wine[['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates','alcohol']].values

y = wine['quality'].values

In [224]:
x.shape

(6497, 11)

In [225]:
y.shape

(6497,)

In [226]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [227]:
model = LinearRegression()  
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [228]:
model.intercept_

50.23792703247841

In [229]:
model.coef_

array([ 7.23355040e-02, -1.31291061e+00, -1.75901371e-01,  4.37557920e-02,
       -6.30759831e-01,  6.56384554e-03, -2.71615155e-03, -4.92657286e+01,
        3.71213449e-01,  7.57203006e-01,  2.75015544e-01])

In [232]:
predicted_quality=model.predict(X_test)
predicted_quality.shape

(1300,)

In [234]:
X_test.shape

(1300, 11)

In [235]:
Actual_predicted=pd.DataFrame({"Actual": y_test.flatten(), "Predicted": predicted_quality.flatten()})

In [237]:
Actual_predicted.head()

   Actual  Predicted
0       6   5.905263
1       6   5.300391
2       5   6.073549
3       6   4.772151
4       5   5.425160